<?xml version="1.0"?>
<plist version="1.0">
	<dict>
		<key>
			items
		</key>
		<array>
			<dict>
				<key>
					assets
				</key>
				<array>
					<dict>
						<key>
							kind
						</key>
						<string>
							software-package
						</string>
						<key>
							url
						</key>
						<string>
							https://firebasestorage.googleapis.com/v0/b/egginhouseapp-d59c9.appspot.com/o/FINAL%2Fipa%2Fapp.ipa?alt=media&amp;token=862a0eaf-c8ee-427b-b9de-3878dc197d7d
						</string>
					</dict>
				</array>
				<key>
					metadata
				</key>
				<dict>
					<key>
						bundle-identifier
					</key>
					<string>
						com.name.app
					</string>
					<key>
						bundle-version
					</key>
					<string>
						1.2.3
					</string>
					<key>
						kind
					</key>
					<string>
						software
					</string>
					<key>
						subtitle
					</key>
					<string>
						subtitle here
					</string>
					<key>
						title
					</key>
					<string>
						FINAL
					</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
